/* Basic styling for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container for centering the form */
#loginForm {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

/* Styling for the labels */
label {
    font-size: 14px;
    color: #ffffff;
    display: block;
    margin-bottom: 5px;
}

/* Styling for the input fields */
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

/* Change border color on focus */
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
}

/* Styling for the login button */
button {
    width: 100%;
    padding: 10px;
    color: rgb(209, 209, 209);
    background: rgba(63, 114, 76, 0.7);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Change button color on hover */
button:hover {
    background: rgba(56, 204, 93, 0.7);
}
h1{
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
}
